.book-details {
        padding: 6rem 0;
}

.back-btn {
        margin-left: 20px;
        margin-bottom: 2.6rem;
        transition: var(--transition);
}

.back-btn .paragraph {
        margin-left: 2rem;
}

.back-btn:hover {
        color: var(--blue-color);
}

.book-details-content {
        gap: 5rem;
}

.book-details-img {
        max-height: 500px;
        overflow: hidden;
}

.book-details-img img {
        margin: 0 auto;
        width: 50%;
        height: 100%;
        object-fit: cover;
}

.book-details-item {
        margin-bottom: 2rem;
}

.book-details-item.description {
        opacity: 0.5;
}

.book-details-info {
        overflow-y: scroll;
        max-height: 800px;
        padding: 3rem;
}

.book-details-info::-webkit-scrollbar {
        width: 8px;
}

.book-details-info::-webkit-scrollbar-track {
        border-radius: 8px;
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

@media screen and (min-width: 768px) {
        .book-details-content {
                grid-template-columns: 40% 60%;
                gap: 0
        }

        .book-details-img {
                max-height: 800px;
        }

        .book-details-img img {
                margin: 4rem auto;
                width: 90%;
                height: 100%;
        }
}